include LICENSE
include README.md
include setup.py
include pyproject.toml
include MANIFEST.in
include CMakeLists.txt

recursive-include .cache *
recursive-include sudio *.py
recursive-include sudio *.pyi
recursive-include sudio *.hpp
recursive-include sudio *.cpp
recursive-include sudio *.txt
recursive-include sudio/rateshift *
recursive-include sudio/io *

recursive-include tests *.py

global-exclude *.pyc
global-exclude __pycache__
global-exclude *.so
global-exclude *.pyd